<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31387122785-5ehqhv9uhbcbukbk1d9pd453glnfq6dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31387122785-5ehqhv9uhbcbukbk1d9pd453glnfq6dn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>31387122785-g7baao0c8l40cjc869un7tchanlsboq8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCM5Dt1gCbtIj0ynLgAJ2I-t-5_riCMjwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>31387122785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LifeLessonsGroup.Beta</string>
	<key>PROJECT_ID</key>
	<string>life-lessons-beta-2682c</string>
	<key>STORAGE_BUCKET</key>
	<string>life-lessons-beta-2682c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31387122785:ios:509b51130956e10f</string>
	<key>DATABASE_URL</key>
	<string>https://life-lessons-beta-2682c.firebaseio.com</string>
</dict>
</plist>